@use "partials/mixins" as *;
@use "partials/variables" as *;
// // Import all of Bootstrap's CSS
// @import "~bootstrap/scss/bootstrap";

.card {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

